*{
    margin: 0;
    padding: 0;
}

body {
    background: #fafafa 
}

.dino {
    width: 60px;
    height: 60px;
    background-image: url(../assets/dino.png);
    position: absolute;
    bottom: 0;
    margin-left: 15px;
}

.cactus {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(../assets/cactus.png)
}